$base-color: #C49545
$details-color: #D6AF4F

#about 
    font-family: 'Inter'



.textAbout
    :first-child
        font-size: 4.8rem
        font-weight: 400
        position: relative
        display: flex
        flex-direction: column
        padding-bottom: 1.5rem
        &:after
            content: ""
            position: absolute
            bottom: 0
            width: 100px
            height: 5px
            background: #fff
            position: absolute
    :last-child
        font-size: 3rem
        font-weight: 500 
        margin-top: 2rem
        max-width: 78rem  

.buttonAbout
    display: flex
    flex-wrap: wrap
    justify-content: space-between

.card
    margin-top: 7.4rem
    width: 25.7rem
    height: 25.7rem
    border-radius: .8rem
    background: #32221D
    border: none


    h1 
        font-size: 3.2rem
        font-weight: 700

    p
        font-size: 2.9rem
        color: $base-color    

.contentStatistics
    display: flex
    flex-direction: column
    align-items: center
    h6
        margin-top: 8.4rem
        font-weight: 700
        font-size: 3.6rem    
        max-width: 42.7rem
        text-align: center
    
    .details
        margin-top: 100px
        width: 31.7rem
        height: 5px
        background: #32221D


.statistics
    margin-top:4.4rem
    display: flex
    max-height: 30rem
    justify-content: space-between
    position: relative
    text-align: center



    h1
        padding: 20px
        font-size: 9.6rem
        font-weight: 700  

    p   
        padding: 20px
        font-size: 2.4rem
        font-weight: 500  
        
                  
@media (max-width: 1050px)
    .statistics
        h1
            padding: 20px
            font-size: 6.5rem
            font-weight: 700  

        p   
            padding: 20px
            font-size: 2rem
            font-weight: 500 

@media (max-width: 750px)

    .statistics
        h1
            padding: 20px
            font-size: 6rem
            font-weight: 700  

        p   
            padding: 20px
            font-size: 2rem
            font-weight: 500 

    .textAbout
        display: flex
        flex-direction: column
        align-items: center
        :first-child
            &:after
                margin-left: 20px   
                width: 200px
        :last-child
            text-align: center

    .buttonAbout
        justify-content: center

    .contentStatistics
        align-items: center
        display: flex
        flex-direction: column

        .details
            width: 20rem
            height: 5px
            background: #32221D
        
        h6
            text-align: center
        

@media (max-width: 600px)
    .statistics
        &:after
            left: 15%

        h1
            padding: 0 20px
            font-size: 4.5rem
            font-weight: 700  

        p   
            padding: 0 20px
            font-size: 2rem
            font-weight: 500 

        
@media (max-width: 480px)

    .contentStatistics
        .details
            margin-top: 5rem
    

    .textAbout
        :first-child
            font-size: 3rem
            &:after
                width: 100px
        :last-child
            font-size: 2rem
            

    .contentStatistics
        h6
            margin-top: 6.4rem
            font-weight: 700
            font-size: 2rem    
            max-width: 42.7rem

    .statistics
        max-height: 20rem
        &:after
            left: 15%
            width: 200px
        h1
            padding: 10px
            font-size: 3.5rem
            font-weight: 700  

        p   
            padding: 10px
            font-size: 1.5rem
            font-weight: 500 

@media (max-width: 350px)
    .contentStatistics
        .details
            margin-top: 2rem

    .statistics
        height: 14rem
        h1
            padding: 10px
            font-size: 2.5rem
            font-weight: 700  

        p   
            padding: 10px
            font-size: 1rem
            font-weight: 500 
