$base-color: #C49545
$details-color: #D6AF4F

#contact
    margin-top:8.7rem
    background: url('../../image/imageContact.png')
    background-repeat: no-repeat
    width: 100%
    height: 89.6rem

.contentCondacs2
    display: flex
    justify-content: center

.contentCondacs
    margin-top: 8.7rem 
    display: flex
    width: 134.4rem
    display: flex
    justify-content: space-between

.contentContact
    width: 100%
    p
        font-size: 4.8rem
        font-weight: 400   
        font-family: "Inter" 
        position: relative
        padding-bottom: 1rem
        &::after
           content: ""
           width: 10rem
           height: .5rem
           background: white
           position: absolute
           bottom: 0
           left: 0
           
    form
        margin-top: 5rem
        display: flex
        flex-direction: column

        .inputs
            background: none
            padding: 1rem
            outline: 0
            border: none
            border-bottom: 1px solid $base-color
            width: 52.7rem
            height: 5rem
            margin: 2rem
            font-family: 'Inter'
            font-weight: 300
            font-size: 2.6rem
            color: white
            &::placeholder
                 color: white

    button
        margin-top: 7.5rem
        width: 21.1rem
        height: 5.8rem
        border: 3px solid $details-color
        border-radius: .8rem
        margin-left: 2rem
        background: none

        :first-child
            font-size: 2.4rem
            font-weight: 500
            font-size: 'Inter'

.contentSocial
    width: 100%
    h3
        font-size: 4.8rem
        font-weight: 400   
        font-family: "Inter" 
        position: relative
        padding-bottom: 1rem
        &::after
            content: ""
            width: 10rem
            height: .5rem
            background: white
            position: absolute
            bottom: 0
            left: 0
    p
        margin-top:1rem  
        font-family: 'Josefin Sans'
        font-weight: 300
        font-size: 2.4rem
    
    h2
        font-family: 'Inter'
        font-weight: 300
        font-size: 3rem
        margin-left: 1rem
        height: 100%


.networkSocial
    margin-top:9rem

    :first-child
        padding-right: 5rem 
    
.whatsapp
    display: flex
    align-items: center
    margin: 3rem 0 3rem 0

.navBar
    margin-top: 10rem
    display: flex
    justify-content: space-between
    justify-content: center
    position: relative
    &::before
           content: ""
           width: 100%
           height: .2rem
           background: $base-color
           position: absolute
           bottom: 8rem
           left: 0
    
.contentNavBar
    display: flex
    justify-content: space-between
    align-items: center
    width: 140rem

    p
        align-items: center
        display: flex
        font-family: 'Inter'
        font-weight: 300
        font-size: 2.4rem
        height: 100%





